/*Mobile first design. */

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

#container {
    margin: 0 10px;
}
/*Base / Mobile styles */

header {
    height: 48px;
}

#top-nav, #bottom-nav {display: none;}

#mob-logo {
    width: 108px;
    height: 48px;
    float: left;
}

#menu-search {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}
#search {
    height: 24px;
    width: 24px;
    margin: 5px 30px 0 0;
}

#menu {
    height: 24px;
    width: 24px;
    margin: 5px 10px 0 0;
}

#advert {
    clear:both;
    overflow: hidden;
    padding: 30px;
    background-color: #fe0;
}

#advert a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

.main-article {
    background-image: url(images/news-image.jpg);
    color: #fff;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
}

.main-article li{
    font-size: 0.7rem;
    color: #888;
    display: inline-block;
}

.main-article ul {
    position: absolute;
    bottom: 0;
}

.main-article h4 {
    position: absolute;
    bottom: 30px;
}

.header-genre {
    color: #f42;
    margin-bottom: 10px;
}

.latest-news-item {
    display: flex;

}

.news-image {
    background-image: url(images/latest\ image7.png);
    height: 75px;
    min-width: 75px;
    background-position: 200px 200px;
    margin-right: 10px;
}

.link-author a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.link-author p {
    font-size: 0.7rem;
    color: #888;
}

#funding ul {
list-style: none;
color: #f42;
margin-bottom: 15px;
}

.funding-box {
    position: relative;
}
.funding-box-logo {
    height: 70px;
    min-width: 70px;
    position: absolute;   
}

.funding-company-name {
    background-color: #f42;
    text-align: center;
    padding-bottom: 20px;
    color: #fff;
    text-transform: uppercase;
}

.funding-amount, .funding-round {
    background-color: #f94;
    text-align: center;
}

.funding-investor {
    border-bottom: 1px solid red;
    padding-bottom: 10px;

}

.funding-industry {
    padding-top: 10px;

}

.funding-news {
    font-size: 0.6rem;
    margin-bottom: 10px;
}

.most-popular {
    background-image: url(images/popular-image.jpg);
    height: 276px;
    color: #fff;
    position: relative;
}

.most-popular h5 {
    position: absolute;
    bottom: 100px;
}

.most-popular-headline {
    position: absolute;
    bottom: 50px;

}

.mp-author {
    bottom: 25px;
    position: absolute;
    color: #ccc;
}

.mp-time {
    position: absolute;
    bottom: 10px;
    color: #ccc;

}

.latest {
    color: #f42;
    background-color: #f94;
    position: relative;
    height: 96px;
    padding-bottom: 100px;
    opacity: 0.9;
}

.latest-image {
    width: 96px;
    height: 96px;
    position: absolute;
    right: 0;
    top: 0;
}

.latest h4 {
    width: 50%;
}

.category ul {
    width: 90%;
    margin: auto;

}

.category ul li {
    line-height: 1.5rem;
    margin-bottom: 10px;
    font-size: 0.8rem;
    border-bottom: 1px solid #888;
}

#social {
    width: 100%;
    background-color: #333;
    padding: 20px 0;
}

#social-container {
    width: 90%;
    display: flex;
    margin: auto;
    justify-content:space-between;


}

.social-button {
    width: 40px;
    height: 40px;
    background-color: #444;
    background-image: url(images/icon-fb.svg);
    background-repeat: no-repeat;
    border-radius: 100%;
    background-position: 12px 12px;
}

#corporate {
    background-color: #333;
    color: #999;
    font-weight: 200;
    padding: 20px 0;
    font-size: 0.9rem;
}

#corporate ul {
    list-style: none;
    margin: auto;
}

#corporate ul li {
    display: inline-block;
    margin-left: 20px;
}

footer {
    background-color: #000;
    color: #999;
    padding: 20px 0;
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {

    header {
        position: relative;
        height: 70px;

    }

    #menu-search {
        display: none;
    }

    #top-nav, #bottom-nav {display: block;}
    #top-nav ul, #bottom-nav ul {list-style: none;}
    #top-nav ul li, #bottom-nav ul li {
        display: inline-block;
        margin-left: 10px;
    }
    #top-nav {
        background-color: #000;
        color: #888;;
        padding: 10px 0;
        font-size: 0.8rem;
    }
       

    
    #mob-logo {
        height: 70px;
        
    }

    #bottom-nav ul li {
        padding: 10px;
    }
    

    #main-news {
        display: grid;
        border: 1px solid red;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;

    }

    #main-news-1 {
        grid-area: 1 / 1 / 3 / 3;
        height: auto;

    }

    #main-news-2 {
        grid-area: 1 / 3 / 2 / 4;
        
    }

    #main-news-3 {
        grid-area: 2 / 3 / 3 / 4;

        
    }

    #main-news-1 h4 {
        font-size: 1.5rem;
    }





}