/*Mobile first design. */

* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

/*Base / Mobile styles */

header {
    height: 48px;
}
#mob-logo {
    width: 108px;
    height: 48px;
    float: left;
}

#menu-search {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
}
#search {
    height: 24px;
    width: 24px;
    margin: 5px 30px 0 0;
}

#menu {
    height: 24px;
    width: 24px;
    margin: 5px 10px 0 0;
}

#advert {
    clear:both;
    overflow: hidden;
    padding: 30px;
    background-color: #fe0;
}

#advert a {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
}

.main-article {
    background-image: url(images/news-image.jpg);
    color: #fff;
    height: 200px;
    position: relative;
    margin-bottom: 10px;
}

.main-article li{
    font-size: 0.7rem;
    color: #888;
    display: inline-block;
}

.main-article ul {
    position: absolute;
    bottom: 0;
}

.main-article h4 {
    position: absolute;
    bottom: 30px;
}

.header-genre {
    color: #f42;
    margin-bottom: 10px;
}

.latest-news-item {
    display: flex;

}

.news-image {
    background-image: url(images/latest\ image7.png);
    height: 75px;
    min-width: 75px;
    background-position: 200px 200px;
    margin-right: 5px;
}

.link-author a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.link-author p {
    font-size: 0.7rem;
    color: #888;
}